# Top-level run requirements
#   These packages are required for a working app.
#   Each of these has been installed deliberately, to serve some purpose within
#   the app. In other words, we do not list recursive requirements here.
#
# To build requirements.txt, run:
#
#   $ pip-compile --generate-hashes requirements.in
#
# See https://pypi.org/project/pip-tools/

# It's a Flask app.
# Users can log in; we send error emails to operators, and transactional emails
# to users; we use websockets to emit results of long-running jobs like
# building a pfsc repo.
Flask==3.1.2
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-SocketIO==5.6.0

# We use the Eventlet web server to support websockets via Flask-SocketIO.
eventlet==0.40.4

# We need to talk to graph databases.
neo4j==4.4.13
redisgraph==2.4.4
gremlinpython==3.7.5
wsc-grempy-transport==0.1.0
gremlite==0.37.0rc1

# Lark parses all of our basic languages, such as the pfsc module syntax,
# and the Meson proof script language.
# See branch `lark070` for attempts to upgrade to Lark 0.7.0.
# For now, we are stuck at 0.6.7.
# For Pyodide, we need this to be available via wheel, but lark-parser does not
# publish a wheel at this version. We've made a special package that does:
lark067==0.6.7

# Mistletoe turns Markdown into HTML, thus is essential in compiling pfsc
# annotations.
mistletoe==0.7.2

# Proofscape repos can define Sphinx pages in rst files.
# The `furo` theme is automatically used. This is integrated with the
# light/dark theme controls in PISE.
furo==2022.12.7
# The *external* `sphinx-proofscape` package provides syntax highlighting for
# the pfsc module syntax and meson language, while the Sphinx extension defined
# locally in `pise/server` under `pfsc.sphinx` defines
# everything else (roles and directives for widgets, etc.).
sphinx-proofscape==0.4.0
# When you write a Sphinx doc inside a Proofscape repo, you can use dollar
# signs for math modes.
sphinx-math-dollar==1.2.1

# VerTeX can be used in pfsc modules!
vertex2tex==0.3.4

# The Flask app is a web server that handles some easy jobs itself, but hands
# off long-running jobs to an RQ worker.
# We use pottery for the Redlock algorithm, which allows us to use Redis to
# ensure that jobs that aim to modify the same resource are only done one at
# a time, even in deployments that are running multiple RQ workers.
# See `pfsc.handlers.RepoTaskHandler.process()`.
rq==1.8.0
pottery==1.1.7

# Dill was included in order to support pickling of SymPy types, for
# use with the math worker. This was before we moved to Pyodide. We keep
# the requirement though, since at this time the server is still _capable_ of
# running math jobs (if so configured).
dill==0.4.0

# The server needs to be able to perform Git actions on the repos under the
# `PFSC_ROOT/lib` directory. Mainly, we need to be able to checkout a branch
# when you ask to build a numbered release.
pygit2==1.12.1

# We use .env files for configuration.
python-dotenv==0.17.0

# We need to make http(s) requests for:
#  * OAuth logins
#  * the PDF proxy service
#  * a few places where you can configure a URL to replace some built-in HTML
requests==2.32.4

# At this time, our only use of `tenacity` is to ensure that calls to Redis's
# BGSAVE capture all updates, in cases where RedisGraph is being used as the
# graph database.
tenacity==6.2.0

# We have a utility library
pfsc-util==0.22.8
