# Top-level dev requirements
#   These packages are useful or required in development, but are not
#   necessary for a working app.

# Ensure consistency:
-c requirements.txt

beautifulsoup4>=4.11.1
pytest==7.2.0
pytest-cov==4.0.0

# While pfsc-server does not need pfsc-examp in order to run (pfsc-examp
# is instead delivered to the user's browser via Pyodide) we do have unit
# tests here in pfsc-server that help test code living in the pfsc-examp
# project. So for testing we do install it.
pfsc-examp==0.24.0
