venv
.env
__pycache__
*~
~$*
*.swp
*.swo
*.pyc
*.DS_Store
.idea/*
.pytest_cache
.coverage
htmlcov/

# resulting from `$ pip install -e .`:
pfsc_manage.egg-info
# user_conf.py is the user's place to override settings in base_conf.py:
conf/user_conf.py
# Alternatively, user may store multiple custom confs under conf/user,
# and activate by making user_conf.py a symlink to one of these.
conf/user/*.py
